table {
    table-layout:fixed;
    width:100%;
}

td, th {
  word-wrap:break-word;
  /*word-break:break-all;*/
}

.shadow {
  border: 20px solid transparent;
  padding: 0px;
  -webkit-border-image: url('images/border.png') 39 round;
  -o-border-image: url('images/border.png') 39 round;
  border-image: url('images/border.png') 39 round;
}

.secondmenu{
  padding-left: 20px;
  margin-bottom: -20px;
}

ul.secondmenu > li.active:active{
  background-color: white;
  color: #ed1c24;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  color: #ed1c24;
  background-color: white;
}
h1.yellow{
  color: yellow;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 7px;
  font-weight: 800;
  -webkit-transition: all 2s ease; /* Safari */
  transition: all 2s ease;
}

body {
  background-color: rgba(16, 16, 19, 0.55);
  background-image: url("Images/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  position: relative;
  word-break: keep-all;
}


/* leave this part out */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}

.panel > .panel-heading { text-transform: uppercase;
  }

/*SEARCH TABLE START*/
  @media screen and (min-width: 768px) {
      #searchable-table_filter > label {
          float: right;
      }
      #searchable-table_paginate > ul{
        float: right;
      }
  }

#register-button {text-transform: capitalize;}

#result-refresh.text-success {cursor:pointer;}

#page-wrapper > div > div > div:nth-child(1) > div.panel-body{
  padding: 3px;
}
#searchable-table_filter > label > input {
  margin-top: -5px;
}
#searchable-table_length > label{
  padding-right: 3px;
}

#searchable-table_length > label > select{
  margin-top: -5px;
}

.form-control.input-sm {
    margin-left: 5px;
    margin-right: 5px;
}
#searchable-table_info {
    padding-left: 30px;
    margin-top: 10px;
}
#searchable-table_paginate{
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 10px;
}
.pagination{
    margin-top:3px;
}
#searchable-table_length {
    padding-left: 30px;
    margin-top: 10px;
    display: inline-flex;
}
#searchable-table_filter {
    padding-right: 30px;
    margin-top:10px;
    padding-left: 30px;
}
#searchable-table_length > label{
    display: inline-flex;
}
#searchable-table_filter > label{
    display: inline-flex;
}
/*SEARCH TABLE END*/

/*MODAL START*/
.modal-footer {
    text-align:center;}
.modal-body {
    text-align:center;}
.modal-content {
    position: relative;
    width: auto;
    margin-top: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2px;
}
.modal-content .ratings{
    position: relative;
    width: 90vw;
    border-radius: 2px;
}
/*MODAL END*/
#wrapper {background-color: #fff; border-left: 1px solid #ccc;  border-right: 1px solid #ccc;}

.notification{
  position: fixed;
  right: 10px;
  bottom: 3px;
  z-index: 15;
}
/*RESULTS FOR NON REGISTERED USERS START*/

.panel-default>.panel-heading{
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  margin: -1px;
  border: none;
  border-radius: 0;
  padding: 13;
  color: rgb(35, 45, 43);
  background-color: rgb(224, 224, 224);
}

#exTab1 .tab-content {
  color : #428bca;
  background-color: white;
  padding : 5px 15px;
}

.nav-pills > li > a {
  color : #0c4373;
  background-color: #d3d2d4;
  padding : 20px;
  border-radius: 1px;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}

.nav-pills > li > a:hover{
  background-color: #e2e2e2;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}

.nav-pills > li.disabled{
  display: none;
}

.nav-pills > li.active a  {
  color : #428bca;
  background-color: white;
  padding : 20px;
  border-radius: 1px;
  -webkit-transition: all 0.5s ease; /* Safari */
  transition: all 0.5s ease;
}

.vytis{
  background-image:  url('Images/herb.png');
  background-position: top right;
  background-size: 62px 70px;
  background-repeat: no-repeat;
}

#root{
  margin:0px;
  padding-left:0;
  padding-right:0;
}

.container{
  width: 100%;
}

.menu-container{
  margin:0;
  padding:0;
}

.children{
    position:initial;
}

.main-menu{
  z-index: 10;
}

.fadetest{
  -webkit-transition: all 2s ease; /* Safari */
  transition: all 2s ease;
}


body {
    position: relative;
}

#root > div > nav{
  background-color :rgba(37, 36, 36, 0.89);
  border-color: rgba(255, 240, 0, 0.84);
  border-bottom-width: :2;
}

#WebApiDiv {
  width: 350px;
  padding: 5px;
  border: 2px solid #5cb85c;
  z-index: 1000;
  border-top-left-radius: 0px;
  position: absolute;
}

#WebApiButton{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 5px;
}



/*RESULTS FOR NON REGISTERED USERS END*/

/*MAIN MENU*/
#bs-example-navbar-collapse-1 > ul > li > a{
  font-size: 15px;
  font-style: oblique;
  color: #2ec5a6;
  display: inline-block;
  -webkit-transition: all 0.7s ease; /* Safari */
  transition: all 0.7s ease;
}

#bs-example-navbar-collapse-1 > ul > li > a:hover{
  color: #ff6e21;
  -webkit-transition: all 0.7s ease; /* Safari */
  transition: all 0.7s ease;
}

#bs-example-navbar-collapse-1 > ul > li.active > a {
  font-size: 15px;
  font-style: oblique;
  color: yellow;
  -webkit-transition: all 0.7s ease; /* Safari */
  transition: all 0.7s ease;
}
#bs-example-navbar-collapse-1 > ul > li.active > a:hover {
  color: #ff6e21;
  -webkit-transition: all 0.7s ease; /* Safari */
  transition: all 0.7s ease;
}
/*MAIN MENU END*/

/* PAGINATION */
.paginatorCustom{
  display: block;
  width: 100%;
  text-align: center;
}

.paginatorCustom > ul{
  margin: 5px auto;
}

.panel-title.active > .fa-sort-desc{
    transition: 0.4s;
    transform: rotate(-90deg);
}

h4.panel-title > i{
    transition: 0.4s;
    transform: rotate(-90deg);
}
h4.panel-title:hover > i{
   transition: 0.4s;
   transform: rotate(-75deg);
}

h4.panel-title.collapsed > i{
    transition: 0.4s;
    transform: rotate(0deg);
}

h4.panel-title.collapsed:hover > i{
    transition: 0.4s;
    transform: rotate(-359deg);
}
/* PAGINATION END*/
/*SEARCH BAR START*/


div.my-nav-search{
  padding: 0px;
  margin: 8px 0px;
  background: none;
}

.search-input{
  background: black;
  color : white;
  border-radius: 1px;
  width: 0px;
  border: 0px;
  padding: 0px;
  -webkit-transition: all 0.7s ease; /* Safari */
  transition: all 0.7s ease;
}

div.my-nav-search > span > button{
  border: none;
  border-radius: 1px;
  background: inherit;
  color: #22e2bb;
  padding: 10px 12px;
  -webkit-transition: all 0.7s ease; /* Safari */
  transition: all 0.7s ease;
}

div.my-nav-search > span > button:hover{
  background: inherit;
  color: #ff6e21;
  -webkit-transition: all 0.7s ease; /* Safari */
  transition: all 0.7s ease;
}

div.my-nav-search > span > button:active{
  background: inherit;
  color: #ff6e21;
}

div.my-nav-search > span > button:focus{
  background: inherit;
  color: #ff6e21
}
/*SEARCH BAR END*/
